<%- include('./partials/header.ejs') %>
<body>
    <%- include('./partials/navbar.ejs') %>
    <h1>home page</h1>
    <div class="container">
        <div class="row mt-5">
            <h1>home page</h1>
            <hr>

            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sint ipsum sed velit ut sequi vel dolorem omnis eligendi aliquid fugit distinctio qui officiis at adipisci, suscipit quod est voluptatem sapiente!</p>





        </div>


    </div>


    <%- include('./partials/footer.ejs') %>

